**/.git
**/bin
**/obj
**/node_modules
**/.angular
**/dist
Day7
Day8
Day9
Day10
Day10-QueryTranslation
Day11
Day12
Day13
Day14
Day15
Day17
QuotesApi.Tests
Quotes.Tests.Integration
Tests.Domain
docs
*.db
