{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",

    "QuotesApi__BaseUrl": "https://REPLACE-WITH-QUOTES-API-URL",
    "QuotesApi__EntraAudience": "api://REPLACE-WITH-QUOTES-API-APP-ID"
  }
}
